{% extends 'base.html.twig' %}

{% block title %}Nimble{% endblock %}

{% block header %}

{% include 'App/headerSide.html.twig' %}

{% endblock %}

{% block body %}

{% include 'App/subHeader.html.twig' %}

<div class="col-12">
    {{ form(projectEditForm)}}
</div>

{% endblock %}

{% block footer %}

{% endblock %}