{% extends 'base.html.twig' %}

{% block title %}Moreno Architecture{% endblock %}

{% block body %}



<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main min-vh-100" id="top">


  <!-- ============================================-->
  <!-- Preloader ==================================-->
  <div class="preloader" id="preloader">
    <div class="loader">
      <div class="line-scale-pulse-out-rapid">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
  <!-- ============================================-->
  <!-- End of Preloader ===========================-->

  <!-- ============================================-->
  <!-- <section> begin ============================-->
  <section class="overflow-hidden mb-9" id="landing-features-1">

    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-7">
          <div class="row bg-light rounded py-7 py-xl-9 px-3 px-md-0 mx-1 mx-md-0 text-sans-serif">
            <div class="col-md-9 offset-md-1" data-zanim-timeline="{}">
              <div class="overflow-hidden">
                <h2 class="mb-0 font-weight-light">Stefan HILDEBRANDT</h2>
                <h4 class='font-weight-light'>Architecte Senior</h4>
              </div>
              <div class="overflow-hidden">
                <ul class="col nav justify-content-center mt-3 mb-3px-2">
                  <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" id="projets-tab" href="#about" role="tab"
                      aria-controls="about" aria-selected="true">
                      A propos
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" id="experience-tab" href="#experience" role="tab"
                      aria-controls="experience" aria-selected="true">
                      Expériences <i class="fal fa-check-square" style='color:#ffc107'></i>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" id="projets-tab" href="#projets" role="tab"
                      aria-controls="projets" aria-selected="true">
                      Projets
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" id="contact-tab" href="#contact" role="tab"
                      aria-controls="contact" aria-selected="true">
                      Contact
                    </a>
                  </li>
                </ul>
              </div>
              <div class="overflow-hidden">
                <div class="tab-content mt-5">
                  <div class="tab-pane fade active show" id="about" role="tabpanel" aria-labelledby="about-tab">
                    <div class="mt-3">
                      {# Content #}
                      <h5 class="text-muted" style='text-align:justify;font-weight:300;letter-spacing:0.05em'>
                        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                        voluptatum
                        deleniti
                        atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non
                        provident,
                        similique
                        sunt in culpa qui officia deserunt mollitia animi;
                      </h5>
                    </div>
                    <div class="mb-3 mt-3">
                      <div class="btn btn-outline-dark mt-1" style="font-weight:400">Architecture</div>
                      <div class="btn btn-outline-dark mt-1" style="font-weight:400">Urbanisme</div>
                      <div class="btn btn-outline-dark mt-1" style="font-weight:400">ARCHITECTURE D’INTERIEUR</div>
                      <div class="btn btn-outline-dark mt-1" style="font-weight:400">Graphisme</div>
                      <div class="btn btn-outline-dark mt-1" style="font-weight:400">SPACE MANAGEMENT</div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="experience" role="tabpanel" aria-labelledby="experience-tab">


                    <div class="mt-3" style='width:100%'>
                      {# {% if degrees is not empty %} #}


                      {# {% for degree in degrees %} #}
                      <div class="media">
                        <a href=''>
                          <img alt="Upload Image" src="assets/img/employees/kassel.png" class="avatar avatar-lg"
                            style="border-radius:0;border-color: transparent;background-color:transparent" />
                        </a>
                        <div class="media-body ml-3 text-left">
                          <a>
                            <h5 class="mb-0" style='font-weight: 300;color:#0B2E2D;letter-spacing: 0.05em'>
                              Université de Kassel</h5>
                          </a>
                          <p class="lead" style='color:#0B2E2D;display: inline-block;margin-bottom:0'>
                            <a class='h6' href='' style='letter-spacing:.05em'>Diplômé en architecture</a>


                          </p>
                          <br>
                          <p class="lead" style='color:grey;display: inline-block;font-size:small'>
                            1990 - 1995</p>
                        </div>
                      </div>
                      <hr style='margin-bottom:0;margin-top:0'>
                      <br>

                      {#             
                                                                            {% endfor %}
                                                                            {% endif %} #}

                      <div class="media">
                        <a href=''>
                          <img alt="Upload Image" src="assets/img/logo/m-logo.png" class="avatar avatar-lg"
                            style="border-radius:0;border-color: transparent;background-color:transparent" />
                        </a>
                        <div class="media-body ml-3 text-left">
                          <a>
                            <h5 class="mb-0" style='font-weight: 300;color:#0B2E2D;letter-spacing: 0.05em'>
                              Bernd WEBER, Kassel, Allemagne</h5>
                          </a>
                          <p class="lead" style='color:#0B2E2D;display: inline-block;margin-bottom:0'>
                            <a class='h6' href='' style='letter-spacing:.05em'>Architecte</a>


                          </p>
                          <br>
                          <p class="lead" style='color:grey;display: inline-block;font-size:small'>
                            1995 - 1996</p>
                        </div>
                      </div>
                      <hr style='margin-bottom:0;margin-top:0'>
                      <br>

                      <div class="media">
                        <a href=''>
                          <img alt="Upload Image" src="assets/img/logo/m-logo.png" class="avatar avatar-lg"
                            style="border-radius:0;border-color: transparent;background-color:transparent" />
                        </a>
                        <div class="media-body ml-3 text-left">
                          <a>
                            <h5 class="mb-0" style='font-weight: 300;color:#0B2E2D;letter-spacing: 0.05em'>
                              ARKOM, Kassel, Allemagne</h5>
                          </a>
                          <p class="lead" style='color:#0B2E2D;display: inline-block;margin-bottom:0'>
                            <a class='h6' href='' style='letter-spacing:.05em'>Architecte</a>


                          </p>
                          <br>
                          <p class="lead" style='color:grey;display: inline-block;font-size:small'>
                            1997 - 1998</p>
                        </div>
                      </div>
                      <hr style='margin-bottom:0;margin-top:0'>
                      <br>

                      <div class="media">
                        <a href=''>
                          <img alt="Upload Image" src="assets/img/logo/m-logo.png" class="avatar avatar-lg"
                            style="border-radius:0;border-color: transparent;background-color:transparent" />
                        </a>
                        <div class="media-body ml-3 text-left">
                          <a>
                            <h5 class="mb-0" style='font-weight: 300;color:#0B2E2D;letter-spacing: 0.05em'>
                              Bernd WEBER, Kassel, Allemagne</h5>
                          </a>
                          <p class="lead" style='color:#0B2E2D;display: inline-block;margin-bottom:0'>
                            <a class='h6' href='' style='letter-spacing:.05em'>Architecte</a>


                          </p>
                          <br>
                          <p class="lead" style='color:grey;display: inline-block;font-size:small'>
                            1995 - 1996</p>
                        </div>
                      </div>
                      <hr style='margin-bottom:0;margin-top:0'>
                      <br>

                      <div class="media">
                        <a href=''>
                          <img alt="Upload Image" src="assets/img/logo/m-logo.png" class="avatar avatar-lg"
                            style="border-radius:0;;border-color: transparent;background-color:transparent" />
                        </a>
                        <div class="media-body ml-3 text-left">
                          <a>
                            <h5 class="mb-0" style='font-weight: 300;color:#0B2E2D;letter-spacing: 0.05em'>
                              A & E, Luxembourg</h5>
                          </a>
                          <p class="lead" style='color:#0B2E2D;display: inline-block;margin-bottom:0'>
                            <a class='h6' href='' style='letter-spacing:.05em'>Architecte</a>


                          </p>
                          <br>
                          <p class="lead" style='color:grey;display: inline-block;font-size:small'>
                            1999 - 2006</p>
                        </div>
                      </div>
                      <hr style='margin-bottom:0;margin-top:0'>
                      <br>

                      <div class="media">
                        <a href=''>
                          <img alt="Upload Image" src="assets/img/logo/m-logo.png" class="avatar avatar-lg"
                            style="border-radius:0;border-color: transparent;background-color:transparent" />
                        </a>
                        <div class="media-body ml-3 text-left">
                          <a>
                            <h5 class="mb-0" style='font-weight: 300;color:#0B2E2D;letter-spacing: 0.05em'>
                              Moreno Architecture & Associés SARL, Luxembourg</h5>
                          </a>
                          <p class="lead" style='color:#0B2E2D;display: inline-block;margin-bottom:0'>
                            <a class='h6' href='' style='letter-spacing:.05em'>Architecte</a>


                          </p>
                          <br>
                          <p class="lead" style='color:grey;display: inline-block;font-size:small'>
                            2006 à ce jour</p>
                        </div>
                      </div>
                      <hr style='margin-bottom:0;margin-top:0'>
                      <br>


                    </div>

                  </div>
                  <div class="tab-pane fade" id="projets" role="tabpanel" aria-labelledby="projets-tab">
                    <div style='width:100%'>
                      {# {% if degrees is not empty %} #}


                      {# {% for degree in degrees %} #}
                      <div class="media">
                        <div class="media-body  text-left">
                          <a>
                            <h5 class="mb-0" style='font-weight: 300;color:#0B2E2D;letter-spacing: 0.05em'>
                              Esch-Belval, Luxembourg</h5>
                          </a>
                          <p class="lead" style='color:#0B2E2D;display: inline-block;margin-bottom:0'>
                            <a class='h6' href='' style='letter-spacing:.05em'>CENTRE SPORTIF : Construction d’un
                              centre
                              sportif, 9 500 m²</a>


                          </p>
                          <br>
                          <p class="lead" style='color:grey;display: inline-block;font-size:small'>
                            études en cours</p>
                        </div>
                        {# <a class='ml-3 pb-2' href=''>
                                <img alt="Upload Image" src="assets/img/categories/oneonone.jpg" class="avatar rounded"
                                  style="border-radius:0;border-color: transparent;background-color:transparent" />
                              </a> #}
                        <div class="col-4 pr-0">
                          <div class="hoverbox rounded overflow-hidden"
                            data-zanim-xs='{"animation":"zoom-in","delay":0.2}'>
                            <img src="assets/img/homepage/moreno1.jpg" class='w-100 fit-cover' alt="...">
                            <a href="{{ path('project', { id: 'de4731d6-e51a-11e9-b42e-ce999418bd6b'}) }}"
                              target="_blank">
                              <div
                                class="hoverbox-content bg-dark d-flex align-items-center justify-content-center text-center">
                                <div class="px-4">

                                  {# <h3 class="text-white text-capitalize">One on One</h3> #}

                                </div>
                              </div>
                            </a>
                          </div>
                        </div>
                      </div>
                      <hr style='margin-bottom:0;margin-top:0'>
                      <br>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                    <div class='text-center'>
                      <div class="overflow-hidden">
                        <small class="text-sans-serif text-ce">
                          <a target="_blank" href="tel:+352621833310" class="text-dark"><i class="fa fa-phone"
                              style='color:#fd7e14;'></i>&nbsp&nbsp (+352) 621 833 310</a>
                        </small>
                      </div>
                      <div class="overflow-hidden">
                        <small class="text-sans-serif">
                          <a target="_blank" href="mailto:stefan@moreno.lu" class="text-dark"><i class="far fa-envelope"
                              style='color:#fd7e14;'></i>&nbsp&nbsp stefan@moreno.lu</a>
                        </small>
                      </div>

                    </div>

                  </div>


                </div> {# / .row #}

              </div> {# / .container #}

            </div>


          </div>
        </div>
      </div>
      <div class="position-md-absolute r-1 t-0 parallax w-md-50 order-1" data-rellax-speed="5"
        data-rellax-percentage="0.5" style="transform: translate3d(0px, 47px, 0px);">
        <img class="shadow-lg rounded img-fluid" src="assets/img/employees/stefan1.jpg" alt="">
      </div>


    </div>
    </div>
    <!-- end of .container-->

  </section>
  <!-- ============================================-->
  <!-- <section> close ============================-->

  <!-- ============================================-->
  <!-- <section> begin ============================-->
  <!--<section class="pt-6 pb-6 mb-4" id="moreno">

    <div class="container justify-content-center" data-zanim-timeline="{}" data-zanim-trigger="scroll">
      {# <div class="row justify-content-center">
        <div class="col-12">

          <!-- Header -->
  <div class="bg-cover bg-overlay"
    style="background-image: url(assets/img/homepage/moreno1.jpg);min-height: 150px;background-position: center;background-repeat: no-repeat;background-size: cover;">
  </div>

  </div>
  </div> <!-- / .row --> #}

  <div class=" justify-content-center text-center mt-4">
    <div class="col-12 mb-3">
      <div class="row no-gutters">
        <div class="hoverbox rounded overflow-hidden"
          data-zanim-xs="{&quot;animation&quot;:&quot;zoom-in&quot;,&quot;delay&quot;:0.2}"
          style="z-index: 0; filter: blur(0px); opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0)">
          <img src="assets/img/agency/alicia.jpg" class="w-25 rounded fit-cover" alt="...">
        </div>
      </div>
    </div>
    <div class="col-12">
      <h2 class="mb-0 font-weight-light">Alicia</h2>
      <h4 class='font-weight-light'>Architecte</h4>
      {# <div class="overflow-hidden">
            <small class="text-sans-serif">
              <a target="_blank" href="tel:+352621833310" class="text-dark"><i class="fa fa-phone"
                  style='color:#fd7e14;'></i>&nbsp&nbsp (+352) 621 833 310</a>
            </small>
          </div>
          <div class="overflow-hidden">
            <small class="text-sans-serif">
              <a target="_blank" href="mailto:alicia@moreno.lu" class="text-dark"><i class="far fa-envelope"
                  style='color:#fd7e14;'></i>&nbsp&nbsp alicia@moreno.lu</a>
            </small>
          </div> #}
    </div>
  </div>

  {# <div class="row align-items-center mb-3">
        <div class="col-3 col-md-3 col-lg-1 pl-1 pr-1">
          <div class="row no-gutters">
            <div class="hoverbox rounded overflow-hidden"
              data-zanim-xs="{&quot;animation&quot;:&quot;zoom-in&quot;,&quot;delay&quot;:0.2}"
              style="z-index: 0; filter: blur(0px); opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0)">
              <img src="assets/img/agency/alicia.jpg" class="w-100 fit-cover" alt="...">
            </div>
          </div>
        </div>
        <div class="col pl-5">
          <blockquote class="blockquote" data-zanim-xs="{&quot;delay&quot;:0.1}"
            style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
            <p class="blockquote-content">Sparrow helped me transform my hobby into a successful online business. Their
              products enabled me to focus on creating top-notch solutions for my clients.</p>
            <div class="h6 fs-0 font-weight-black">Alicia</div>
            <div class="h6 text-500">Architecte</div>
          </blockquote>
        </div>
      </div> #}


  <ul class="col nav justify-content-center mt-3 px-2">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" id="experience-tab" href="#experience" role="tab"
        aria-controls="experience" aria-selected="true">
        Expériences <i class="fal fa-check-square" style='color:#ffc107'></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" id="projets-tab" href="#projets" role="tab" aria-controls="projets"
        aria-selected="true">
        Projets
      </a>
    </li>
  </ul>
  <div>
    {# <hr style='margin-top: -1.5px;'> #}
  </div>
  <div class="container col-sm-9">
    <div class="mt-3">

      {# Heading #}
      <h4 class="mb-4">
        A propos
      </h4>

      {# Content #}
      <h5 class="text-muted" style='text-align:justify;font-weight:300;letter-spacing:0.05em'>
        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
        deleniti
        atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident,
        similique
        sunt in culpa qui officia deserunt mollitia animi;
      </h5>


      <div class="tab-content" style='width:100%;'>
        <div class="tab-pane fade active show" id="experience" role="tabpanel" aria-labelledby="experience-tab"
          style='width: 100%;'>
          <div class="mb-3 mt-3">
            <div class="btn btn-outline-dark mt-1" style="font-weight:400">Architecture</div>
            <div class="btn btn-outline-dark mt-1" style="font-weight:400">Urbanisme</div>
            <div class="btn btn-outline-dark mt-1" style="font-weight:400">ARCHITECTURE D’INTERIEUR</div>
            <div class="btn btn-outline-dark mt-1" style="font-weight:400">Graphisme</div>
            <div class="btn btn-outline-dark mt-1" style="font-weight:400">SPACE MANAGEMENT</div>
          </div>
          <br>

          <div style='width:100%'>
            {# {% if degrees is not empty %} #}


            {# {% for degree in degrees %} #}
            <div class="media">
              <a href=''>
                <img alt="Upload Image" src="assets/img/logo/m-logo.png" class="avatar avatar-lg"
                  style="border-radius:0;border-color: transparent;background-color:transparent" />
              </a>
              <div class="media-body ml-3 text-left">
                <a>
                  <h5 class="mb-0" style='font-weight: 300;color:#0B2E2D;letter-spacing: 0.05em'>
                    Université de Kassel</h5>
                </a>
                <p class="lead" style='color:#0B2E2D;display: inline-block;margin-bottom:0'>
                  <a class='h6' href='' style='letter-spacing:.05em'>Diplômé en architecture</a>


                </p>
                <br>
                <p class="lead" style='color:grey;display: inline-block;font-size:small'>
                  1990 - 1995</p>
              </div>
            </div>
            <hr style='margin-bottom:0;margin-top:0'>
            <br>

            {#             
                                                      {% endfor %}
                                                      {% endif %} #}

            <div class="media">
              <a href=''>
                <img alt="Upload Image" src="assets/img/logo/m-logo.png" class="avatar avatar-lg"
                  style="border-radius:0;border-color: transparent;background-color:transparent" />
              </a>
              <div class="media-body ml-3 text-left">
                <a>
                  <h5 class="mb-0" style='font-weight: 300;color:#0B2E2D;letter-spacing: 0.05em'>
                    Bernd WEBER, Kassel, Allemagne</h5>
                </a>
                <p class="lead" style='color:#0B2E2D;display: inline-block;margin-bottom:0'>
                  <a class='h6' href='' style='letter-spacing:.05em'>Architecte</a>


                </p>
                <br>
                <p class="lead" style='color:grey;display: inline-block;font-size:small'>
                  1995 - 1996</p>
              </div>
            </div>
            <hr style='margin-bottom:0;margin-top:0'>
            <br>

            <div class="media">
              <a href=''>
                <img alt="Upload Image" src="assets/img/logo/m-logo.png" class="avatar avatar-lg"
                  style="border-radius:0;border-color: transparent;background-color:transparent" />
              </a>
              <div class="media-body ml-3 text-left">
                <a>
                  <h5 class="mb-0" style='font-weight: 300;color:#0B2E2D;letter-spacing: 0.05em'>
                    ARKOM, Kassel, Allemagne</h5>
                </a>
                <p class="lead" style='color:#0B2E2D;display: inline-block;margin-bottom:0'>
                  <a class='h6' href='' style='letter-spacing:.05em'>Architecte</a>


                </p>
                <br>
                <p class="lead" style='color:grey;display: inline-block;font-size:small'>
                  1997 - 1998</p>
              </div>
            </div>
            <hr style='margin-bottom:0;margin-top:0'>
            <br>

            <div class="media">
              <a href=''>
                <img alt="Upload Image" src="assets/img/logo/m-logo.png" class="avatar avatar-lg"
                  style="border-radius:0;border-color: transparent;background-color:transparent" />
              </a>
              <div class="media-body ml-3 text-left">
                <a>
                  <h5 class="mb-0" style='font-weight: 300;color:#0B2E2D;letter-spacing: 0.05em'>
                    Bernd WEBER, Kassel, Allemagne</h5>
                </a>
                <p class="lead" style='color:#0B2E2D;display: inline-block;margin-bottom:0'>
                  <a class='h6' href='' style='letter-spacing:.05em'>Architecte</a>


                </p>
                <br>
                <p class="lead" style='color:grey;display: inline-block;font-size:small'>
                  1995 - 1996</p>
              </div>
            </div>
            <hr style='margin-bottom:0;margin-top:0'>
            <br>

            <div class="media">
              <a href=''>
                <img alt="Upload Image" src="assets/img/logo/m-logo.png" class="avatar avatar-lg"
                  style="border-radius:0;;border-color: transparent;background-color:transparent" />
              </a>
              <div class="media-body ml-3 text-left">
                <a>
                  <h5 class="mb-0" style='font-weight: 300;color:#0B2E2D;letter-spacing: 0.05em'>
                    A & E, Luxembourg</h5>
                </a>
                <p class="lead" style='color:#0B2E2D;display: inline-block;margin-bottom:0'>
                  <a class='h6' href='' style='letter-spacing:.05em'>Architecte</a>


                </p>
                <br>
                <p class="lead" style='color:grey;display: inline-block;font-size:small'>
                  1999 - 2006</p>
              </div>
            </div>
            <hr style='margin-bottom:0;margin-top:0'>
            <br>

            <div class="media">
              <a href=''>
                <img alt="Upload Image" src="assets/img/logo/m-logo.png" class="avatar avatar-lg"
                  style="border-radius:0;border-color: transparent;background-color:transparent" />
              </a>
              <div class="media-body ml-3 text-left">
                <a>
                  <h5 class="mb-0" style='font-weight: 300;color:#0B2E2D;letter-spacing: 0.05em'>
                    Moreno Architecture & Associés SARL, Luxembourg</h5>
                </a>
                <p class="lead" style='color:#0B2E2D;display: inline-block;margin-bottom:0'>
                  <a class='h6' href='' style='letter-spacing:.05em'>Architecte</a>


                </p>
                <br>
                <p class="lead" style='color:grey;display: inline-block;font-size:small'>
                  2006 à ce jour</p>
              </div>
            </div>
            <hr style='margin-bottom:0;margin-top:0'>
            <br>


          </div>

        </div>
        <div class="tab-pane fade" id="projets" role="tabpanel" aria-labelledby="projets-tab">
          <div style='width:100%'>
            {# {% if degrees is not empty %} #}


            {# {% for degree in degrees %} #}
            <div class="media">
              <a class='pb-2' href=''>
                <img alt="Upload Image" src="assets/img/categories/oneonone.jpg" class="avatar rounded"
                  style="border-radius:0;border-color: transparent;background-color:transparent" />
              </a>
              <div class="media-body ml-3 text-left">
                <a>
                  <h5 class="mb-0" style='font-weight: 300;color:#0B2E2D;letter-spacing: 0.05em'>
                    Esch-Belval, Luxembourg</h5>
                </a>
                <p class="lead" style='color:#0B2E2D;display: inline-block;margin-bottom:0'>
                  <a class='h6' href='' style='letter-spacing:.05em'>CENTRE SPORTIF : Construction d’un centre
                    sportif, 9 500 m²</a>


                </p>
                <br>
                <p class="lead" style='color:grey;display: inline-block;font-size:small'>
                  études en cours</p>
              </div>
            </div>
            <hr style='margin-bottom:0;margin-top:0'>
            <br>

            {#             
                                                      {% endfor %}
                                                      {% endif %} #}

            <div class="media">
              <a href=''>
                <img alt="Upload Image" src="assets/img/logo/m-logo.png" class="avatar avatar-lg"
                  style="border-radius:0;border-color: transparent;background-color:transparent" />
              </a>
              <div class="media-body ml-3 text-left">
                <a>
                  <h5 class="mb-0" style='font-weight: 300;color:#0B2E2D;letter-spacing: 0.05em'>
                    Bernd WEBER, Kassel, Allemagne</h5>
                </a>
                <p class="lead" style='color:#0B2E2D;display: inline-block;margin-bottom:0'>
                  <a class='h6' href='' style='letter-spacing:.05em'>Architecte</a>


                </p>
                <br>
                <p class="lead" style='color:grey;display: inline-block;font-size:small'>
                  1995 - 1996</p>
              </div>
            </div>
            <hr style='margin-bottom:0;margin-top:0'>
            <br>

            <div class="media">
              <a href=''>
                <img alt="Upload Image" src="assets/img/logo/m-logo.png" class="avatar avatar-lg"
                  style="border-radius:0;border-color: transparent;background-color:transparent" />
              </a>
              <div class="media-body ml-3 text-left">
                <a>
                  <h5 class="mb-0" style='font-weight: 300;color:#0B2E2D;letter-spacing: 0.05em'>
                    ARKOM, Kassel, Allemagne</h5>
                </a>
                <p class="lead" style='color:#0B2E2D;display: inline-block;margin-bottom:0'>
                  <a class='h6' href='' style='letter-spacing:.05em'>Architecte</a>


                </p>
                <br>
                <p class="lead" style='color:grey;display: inline-block;font-size:small'>
                  1997 - 1998</p>
              </div>
            </div>
            <hr style='margin-bottom:0;margin-top:0'>
            <br>

            <div class="media">
              <a href=''>
                <img alt="Upload Image" src="assets/img/logo/m-logo.png" class="avatar avatar-lg"
                  style="border-radius:0;border-color: transparent;background-color:transparent" />
              </a>
              <div class="media-body ml-3 text-left">
                <a>
                  <h5 class="mb-0" style='font-weight: 300;color:#0B2E2D;letter-spacing: 0.05em'>
                    Bernd WEBER, Kassel, Allemagne</h5>
                </a>
                <p class="lead" style='color:#0B2E2D;display: inline-block;margin-bottom:0'>
                  <a class='h6' href='' style='letter-spacing:.05em'>Architecte</a>


                </p>
                <br>
                <p class="lead" style='color:grey;display: inline-block;font-size:small'>
                  1995 - 1996</p>
              </div>
            </div>

            <br>

            <div class="media">
              <a href=''>
                <img alt="Upload Image" src="assets/img/logo/m-logo.png" class="avatar avatar-lg"
                  style="border-radius:0;;border-color: transparent;background-color:transparent" />
              </a>
              <div class="media-body ml-3 text-left">
                <a>
                  <h5 class="mb-0" style='font-weight: 300;color:#0B2E2D;letter-spacing: 0.05em'>
                    A & E, Luxembourg</h5>
                </a>
                <p class="lead" style='color:#0B2E2D;display: inline-block;margin-bottom:0'>
                  <a class='h6' href='' style='letter-spacing:.05em'>Architecte</a>


                </p>
                <br>
                <p class="lead" style='color:grey;display: inline-block;font-size:small'>
                  1999 - 2006</p>
              </div>
            </div>
            <hr style='margin-bottom:0;margin-top:0'>
            <br>

            <div class="media">
              <a href=''>
                <img alt="Upload Image" src="assets/img/logo/m-logo.png" class="avatar avatar-lg"
                  style="border-radius:0;border-color: transparent;background-color:transparent" />
              </a>
              <div class="media-body ml-3 text-left">
                <a>
                  <h5 class="mb-0" style='font-weight: 300;color:#0B2E2D;letter-spacing: 0.05em'>
                    Moreno Architecture & Associés SARL, Luxembourg</h5>
                </a>
                <p class="lead" style='color:#0B2E2D;display: inline-block;margin-bottom:0'>
                  <a class='h6' href='' style='letter-spacing:.05em'>Architecte</a>


                </p>
                <br>
                <p class="lead" style='color:grey;display: inline-block;font-size:small'>
                  2006 à ce jour</p>
              </div>
            </div>
            <hr style='margin-bottom:0;margin-top:0'>
            <br>


          </div>
        </div>


      </div> {# / .row #}

    </div> {# / .container #}

  </div>
  </div>
  </section>
  <!-- <section> close ============================-->
  <!-- ============================================-->



</main>
<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->



{% endblock %}